:root {
    --blue_theme: linear-gradient(156.8deg, rgb(84 181 255) 27.1%, rgb(60 100 247) 77.8%);
    --bg_color: linear-gradient(322deg, rgb(204, 228, 247) 11.2%, rgb(237, 246, 250) 100.2%);
}

*{
    margin: 0px;
    padding: 0px;
}
*:focus {
    outline: none;
}
.main_div{
    width: 100% !important;
    height: 100vh !important;
    margin: 0px;
    background: var(--bg_color);
}

::-webkit-scrollbar {
    width: 5px;
    height: 0px;
}
::-webkit-scrollbar-track {
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    background: #c2c2c2; 
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
    background: #706a6a; 
}


/* 
============================================
START => SECTION 1 
============================================ 
*/
.left_part{
    padding: 0px;
}

/* layout size */
.user_control{
    position: relative;
    height: 100%;
}
.login_user_details{
    height: 20%;
}
.user_filter{
    height: 10%;
    box-shadow: 0 5px 5px -3px #00000030;
}
.user_list_container{
    width: 100%;
    height: 70%;
    position: absolute;
    overflow: scroll;
    background: #fff;
    border-radius: 10px 10px 0px 0px;
    /* box-shadow: 5px 6px 22px -11px #4f4f4f; */
}


/* Login User Details */
.login_user_details .user_details{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    padding: 10px 0px 0px 10px;
}
.login_user_details .user_details .user_short_name{
    width: 40px; 
    height: 40px; 
    border-radius: 50%; 
    background: rgb(174, 174, 253);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-weight: 600;
    font-size: 18px;
    text-transform: uppercase;
}
.login_user_details .user_details .user_full_name{
    color: #000000;
    font-weight: 400;
    letter-spacing: 1px;
    margin-left: 10px;
    font-weight: 600;
    text-transform: capitalize;
}
.chat_list_show_option{
    height: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.chat_list_show_option span{
    width: 70px;
    text-align: center;
    border: 1px solid gray;
    border-radius: 50px;
    cursor: pointer;
}
.chat_list_show_option span:hover{
    background: var(--blue_theme);
    border: none;
    color: #fff;
    transition: 0.3s;
}


/* User Filter */
.filter_user_css{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 0px 0px 0px 10px;
}
.search_box{
    width: 100%;
}
.filter_user_css input{
    width: 98%;
    background: #fff;
    border-radius: 8px;
    /* width: 85%; */
    height: 35px;
    padding-left: 10px;
    border: none;
    font-weight: 400;
    letter-spacing: 0.5px;
    border: 2px solid #D1D1D1;
    background: #F9F9F9;
}
.filter_user_css i{
    color: #000000;
    margin: auto;
    font-size: 28px;
    cursor: pointer;
}
.filter_user_css .search_icon{
    position: absolute;
    right: 42px;
    transform: translateY(8px);
    font-size: 20px !important;
    color: #c1bdbd !important;
}

/* User List */
.user_list_container .user_details{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 10px 10px;
    padding: 8px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 10px;
}
.user_list_container .user_details div{
    display: flex;
    align-items: center;
}
.user_list_container .user_details:hover{
    background: var(--blue_theme);
    border-radius: 10px;
    padding: 8px;
}
.user_list_container .user_details:hover div{
    color: #ffffff;
}
.user_list_container .user_details .user_short_name{
    width: 40px; 
    height: 40px; 
    border-radius: 50%; 
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-weight: 600;
    font-size: 18px;
    text-transform: uppercase;
}
.user_list_container .user_details .user_full_name{
    color: #000000;
    font-weight: 400;
    letter-spacing: 1px;
    margin-left: 10px;
    font-weight: 600;
    text-transform: capitalize;
}

/* 
============================================
END => SECTION 1 
============================================ 
*/




/* 
============================================
START => SECTION 2 
============================================ 
*/
.right_part{
    padding: 0px;
}

/* Layout size */
.opposite_user{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 15px;
    box-shadow: 0 5px 5px -3px #00000030;
    border-radius: 10px;
    background: #ffffff;
}
.chat_part{
    height: 80%;
    position: relative;
    overflow-y: scroll;
}
.input_part{
    height: 10%;
    background: #ffffff;
    border-radius: 10px 10px 0px 0px;
}

/* header part */
.connect_with_network{
    display: flex;
    justify-content: center;
    align-items: center;
}
.user_call{
    color: #000000;
    font-size: 30px;
    background: var(--blue_theme);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
}
.user_videocam{
    color: #000000;
    font-size: 35px;
    margin-right: 10px;
    background: var(--blue_theme);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
}
.opposite_user .user_details{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.opposite_user .user_details .user_short_name{
    width: 40px; 
    height: 40px; 
    border-radius: 50%; 
    background: rgb(174, 174, 253);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-weight: 600;
    font-size: 18px;
    text-transform: uppercase;
}
.opposite_user .user_details .user_full_name{
    color: #000000;
    font-weight: 400;
    letter-spacing: 1px;
    margin-left: 10px;
    font-weight: 600;
    text-transform: capitalize;
}



/* chat box css */
.chat_part .chatbox{
    width: 98.5%;
    height: 100%;
    position: absolute;
    /* overflow-y: scroll; */
    padding: 0px 10px 20px 0px;
    display: flex;
    flex-direction: column;
    /* justify-content: end; */
}
.chat_part .chatbox div{
    margin-top: 10px;
    display: flex;
}
.chat_part .chatbox span{
    max-width: 60%;
    padding: 5px 10px;
    border-radius: 8px 8px 8px 0px;
    color: #ffffff;
    background: var(--blue_theme);
}
.sender_side_avatar{
    width: 0%; 
    height: 20px; 
    display: flex; 
    justify-content: center;
    margin-left: 5px;
    font-size: 8px; 
    letter-spacing: 1px; 
    text-transform: uppercase; 
    border-radius: 50% !important;
}
.receiver_side_avatar{
    width: 0%; 
    height: 20px; 
    display: flex; 
    justify-content: center;
    margin-left: 5px;
    margin-right: 5px; 
    font-size: 8px; 
    letter-spacing: 1px; 
    text-transform: uppercase; 
    border-radius: 50% !important;
}


/* input message area */
.message_input{
    display: flex;
    justify-content: center;
    align-items: center;
}
.message_input textarea{
    width: 100%;
    height: 60%;
    border-radius: 50px;
    border: none;
    padding: 0px 20px;
    font-size: 20px;
    background: #e3e3e3;
    resize: none;
}
.send_message_btn{
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 0px !important;
}
.send_message_btn button{
    width: 60%;
    height: 60%;
    border-radius: 50%;
    background: var(--blue_theme);
} 
.send_message_btn button i{
    color: #ffffff;
    background: none;
}

/* 
============================================
END => SECTION 2 
============================================ 
*/